/* All the CSS related to answers Page*/
.answer {
  display: flex;
  flex-direction: row;
  border-bottom: #000000 1px dashed;
  
}

.horizontal_wrapper {
  display: flex; /* Flexbox layout to align items horizontally */
  align-items: flex-start; /* Align items at the top */
  gap: 16px; /* Space between VoteComponent and AnswerHeader */
  padding: 16px; /* Optional: Add padding around the wrapper */
}


.answerText {
  width: 75%;
}

.answerAuthor {
  margin-left: 5%;
  cursor: pointer;
}

.answer_author {
  color: green;
}
