.answer_header_container {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  font-weight: bold;
  font-size: 1.5rem;
}

.answer_header_left {
  display: flex;
  margin-right: 8px;
  width: 5%
}

.answer_header_right {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 40px
}

.bold_title.answer_question_title {
  font-weight: bold;
  font-size: 1.5rem;
}