.tag_list {
  display: grid;
  margin-left: 5rem; /* Adjust based on layout */
  margin-top: -3rem; /* Adjust based on layout */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 0px;
}

.tag-title {
  font-size: 2rem; /* Matches text-3xl */
  font-weight: bold;
  margin-left: 5rem; /* Adjust based on layout */
  margin-top: 0rem; /* Adjust based on layout */
  padding: 1rem;
  max-width: 112rem; /* Matches max-w-7xl */
}

.tag-subtitle {
  color: #6b7280; /* Matches text-gray-500 */
}
